<section id="ui-page" class="section-padding">
  <div class="container py-4">
    <div class="ui-content">
      <div class="text-header-line d-flex justify-content-center position-relative py-3">
        <h1 class="text-stroke text-capitalize text-second-color px-3">
          UI / UX
        </h1>
      </div>
      <p class="text-center text-white-color fw-lighter fs-3">
        Your Official website is the right place that customers to find the accurate info they are searching for about you or your services or products.      </p>
    </div>
    <div class="ui-body text-center text-second-color pt-3">
      <h2 class="text-stroke fs-1">
        Mark it Pro will plan the layout, coding, and content of your website.
      </h2>
    </div>
  </div>
</section>
<app-form></app-form>
