<section id="about-page" class="section-padding">
  <div class="container py-5">
    <div class="row g-5">
      <div class="col-md-12">
        <div class="text-header">
          <h1 class="text-stroke d-inline-block">
            Who are we?
          </h1>
          <ul class="about-header-list list-unstyled text-white-color fw-lighter fs-3 my-4">
            <li>
              Mark it Pro , is a full-service digital marketing and advertising agency based in
              Egypt and KSA with extensive experience.
            </li>
            <li class="pt-2">
              We are both B2C and B2B marketing.
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-12">
        <div class="text-body d-flex justify-content-center">
          <h2 class="h1 text-stroke text-center w-75">
            We create, scale, and refine what you need.
          </h2>
        </div>
      </div>
      <div class="col-md-12">
        <div class="header-end">
          <h2 class="h1 text-stroke d-inline-block">
            What sets us apart from others?
          </h2>
          <ul class="about-end-list fs-3">
            <li class="text-white-color fw-lighter mt-4">
              Mark it pro understands you as well, We'll work to understand your goals,strategy, and mission to develop a strategy for your success.
            </li>
            <li class="text-white-color fw-lighter">
              we will proactively manage your project from A to Z depending on your
              demands and budget with customized packages that suits your needs.
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-6 d-flex justify-content-center">
        <div class="about-outer-right-item d-flex flex-column align-items-center justify-content-center">
          <div class="about-inner-item position-relative">
            <h2 class="text-stroke text-second-color fw-bold text-center">
              Mission :
            </h2>
            <picture class="about-image">
              <img src="./assets/images/icons website/about/icon h2-01.png" alt="mission">
            </picture>
            <div class="about-info text-center">
                <p class="text-capitalize text-white-color fs-5">
                    Our mission is to empower our clients to acheive their business goals through our services.
                </p>
            </div>
          </div>
      </div>
      </div>
      <div class="col-md-6 d-flex justify-content-center">
        <div class="about-outer-left-item d-flex justify-content-center align-items-center">
          <div class="about-inner-item position-relative">
            <h2 class="text-stroke fw-bold text-second-color text-center">
              Vision :
            </h2>
            <picture class="about-image">
              <img src="./assets/images/icons website/about/icon h-01.png" alt="chef">
            </picture>
            <div class="about-info text-center">
                <p class="text-capitalize text-white-color fs-5">
                    Our vision is to help business reach their potential by providing effective and innovative marketing strategies,delivering great customer service,and creative marketing solutions.
                </p>
            </div>
          </div>
      </div>
      </div>
    </div>
  </div>
</section>
