<section id="footer">
  <div class="container py-4">
    <div class="row g-4">
      <div class="col-md-6 footer-info d-flex justify-content-center">
        <div>
          <h2 class="text-uppercase text-second-color">
            egypt's office
          </h2>
          <ul>
            <li class="fs-4 fw-lighter mb-0 text-capitalize text-white-color">
              <a href="tel:+201066700334">
                call: 01066700334
              </a>
            </li>
             <li class="fs-4 fw-lighter mb-0 text-capitalize text-white-color">
              <a href="mailto:info@markitprof.com">
                email: info@markitprof.com
              </a>
            </li>
             <li class="fs-4 fw-lighter mb-0 text-capitalize text-white-color">
              <a href="http://">
                address: V36, District 9, sheikh El zayed, Egypt
              </a>
            </li>
          </ul>
         </div>
      </div>
      <div class="col-md-6 footer-info d-flex justify-content-center pe-5">
        <div>
          <h2 class="text-uppercase text-second-color">
            ksa office:
          </h2>
          <ul>
            <li class="fs-3 mb-0 fw-light text-capitalize text-white-color">
              call:
            </li>
             <li class="fs-3 mb-0 fw-light text-capitalize text-white-color">
              email:
            </li>
             <li class="fs-3 mb-0 fw-light text-capitalize text-white-color">
              address:
            </li>
          </ul>
         </div>
      </div>
      <div class="col-md-11 d-flex justify-content-center">
        <div class="footer-logo-container">
            <img src="./assets/images/icons website/markitpro-logo.svg" alt="logo" class="">
        </div>
      </div>
      <div class="col-md-11 gy-3 d-flex justify-content-center">
        <div class="footer-social-icon d-flex justify-content-between">
          <a href="https://www.facebook.com/profile.php?id=61550530178875">
          <i class="fa-brands fa-facebook-f text-white-color d-flex justify-content-center align-items-center fs-4 me-4"></i>
          </a>
          <a href="https://www.instagram.com/mark_it_pro?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==">
          <i class="fa-brands fa-instagram text-white-color d-flex justify-content-center align-items-center fs-2"></i>
          </a>
        </div>
      </div>
      <div class="col-md-11 gy-3 d-flex justify-content-center">
        <div class="footer-text d-flex justify-content-between">
          <p class="text-desc-color text-center fw-bold fs-6 mt-3">
            All Rights Reserved , Developed and Designed by MARK IT PRO
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
