<section id="event-management-page" class="section-padding">
  <div class="container py-4">
    <div class="event-management-content">
      <div class="text-header-line d-flex justify-content-center position-relative py-3">
        <h1 class="text-stroke text-capitalize text-second-color px-3">
          Event Management
        </h1>
      </div>
      <p class="text-center text-white-color fw-lighter fs-3">
        Event management refers to the process of planning, organizing, and executing events such as conferences,
        parties, corporate meetings, and more. It involves various tasks including budgeting, venue selection,
        marketing, coordination, and management.
      </p>
    </div>
    <div class="event-management-body text-center text-second-color pt-5">
      <h2 class="text-stroke fs-1">
        At Mark it Pro we will plan, organize, and manage your event.
      </h2>
    </div>
  </div>
</section>
<app-form></app-form>
