<section id="media-buying-page" class="section-padding">
  <div class="container py-4">
    <div class="media-buying-content">
      <div class="text-header-line d-flex justify-content-center position-relative py-3">
        <h1 class="text-stroke text-capitalize text-second-color px-3">
          Media Buying
        </h1>
      </div>
      <p class="text-center text-white-color fw-lighter fs-3">
        Media buying is a process used in paid marketing efforts. The goal is to identify and purchase ad space on platforms that are relevant to the target audience at the optimal time, for an amount of money.
      </p>
    </div>
    <div class="media-buying-body text-center text-second-color pt-5">
      <h2 class="text-stroke fs-1">
        We create a performance-driven plan that always has an effective ROI for our clients
      </h2>
    </div>
  </div>
</section>
<app-form></app-form>
