<section id="social-page" class="section-padding">
  <div class="container py-4">
    <div class="social-content">
      <div class="text-header-line d-flex justify-content-center position-relative py-3">
        <h1 class="text-stroke text-capitalize text-second-color px-3">
          Social Media Management
        </h1>
      </div>
      <p class="text-center text-white-color fw-lighter fs-3">
        Social media management is the ongoing process of creating and scheduling content designed to grow and nurture
        an audience across social media platforms such as Facebook, Instagram, TikTok, Snapchat, and LinkedIn.
    </div>
    <div class="social-body text-second-color pt-5">
      <p class="fs-1">
        That includes :
      </p>
      <ul class="list-unstyled">
        <li class="fs-2 fw-light text-white-color">
          Brand Analysis & Competitive Analysis
        </li>
        <li class="fs-2 fw-light text-white-color">
          Content Creation & Design
        </li>
        <li class="fs-2 fw-light text-white-color">
          Social Media Strategy
        </li>
        <li class="fs-2 fw-light text-white-color">
          Account Management
        </li>
      </ul>
    </div>
  </div>
</section>
<app-form></app-form>
