#work-page .text-header {
  color: transparent;
  -webkit-text-stroke: 1px var(--text-white-color);
}

#work-page .text-header .text-stroke {
  color: var(--text-white-color);
}

#work-page .text-header .text-stroke::before {
  content: 'Our Works';
  bottom: 3px;
}

#work-page .text-header:hover .text-stroke::before{
    bottom: 0px;
}

::ng-deep .ngx-pagination {
  display: flex;
}

::ng-deep .ngx-pagination li{
  background-color: transparent !important;
  font-size: 25px;
  color: var(--text-white-color);
  position: relative;
}

::ng-deep .ngx-pagination li span{
  color: var(--text-white-color);
}

::ng-deep .ngx-pagination .current span{
  color: var(--text-second-color) !important;
}

::ng-deep .ngx-pagination li span:hover {
  color: var(--text-second-color);
}

::ng-deep .ngx-pagination a:hover {
  background: transparent !important;
}

::ng-deep .ngx-pagination .disabled {
  display: none;
}

::ng-deep .ngx-pagination .pagination-previous a,
::ng-deep .ngx-pagination .pagination-next a{
  width: 30px;
  height:35px;
  overflow: hidden;
  background-color: transparent;
  color: var(--text-main-color);
}

::ng-deep .ngx-pagination .pagination-previous a::before{
  content: '\ab' !important;
  color: var(--text-white-color);
}

::ng-deep .ngx-pagination .pagination-next a::before{
  content: '\bb' !important;
  color: var(--text-white-color);
}
