<section id="branding-page" class="section-padding">
  <div class="py-4">
    <div class="branding-content">
      <div class="text-header-line d-flex justify-content-center position-relative py-3">
        <h1 class="text-stroke text-capitalize text-second-color px-3">
          branding
        </h1>
      </div>
      <p class="container text-center text-white-color fw-lighter fs-3">
        Branding is the process of creating a strong, positive perception of a company, its products, or services in the customer’s mind by combining such elements as logo, design, mission, and a consistent theme throughout all marketing communications. Effective branding helps companies differentiate themselves from their competitors and build a loyal customer base.
      </p>
    </div>
    <div class="container branding-body text-center text-second-color pt-5">
      <h2 class="text-stroke fs-1">
        We are always enhancing our tools to offer the finest possible image of each brand.
      </h2>
    </div>
  </div>
</section>
<app-form></app-form>
