<section id="media-production-page" class="section-padding">
  <div class="container py-4">
    <div class="media-production-content">
      <div class="text-header-line d-flex justify-content-center position-relative py-3">
        <h1 class="text-stroke text-capitalize text-second-color px-3">
          Media Production
        </h1>
      </div>
      <p class="text-center text-white-color fw-lighter fs-3">
        Media Production is intimate to Digital Marketing, as it means the production of a type of content like Graphics, Videos, and Photography.    </div>
    <div class="media-production-body text-second-color pt-5">
      <p class="fs-1">
        Mark it Pro offers you different types of media production :
      </p>
      <ul class="list-unstyled">
        <li class="fs-2 fw-light text-white-color">
          Photography.
        </li>
        <li class="fs-2 fw-light text-white-color">
          Videography.
        </li>
        <li class="fs-2 fw-light text-white-color">
          Graphic Design.
        </li>
        <li class="fs-2 fw-light text-white-color">
          Motion Graphics.
        </li>
      </ul>
    </div>
  </div>
</section>
<app-form></app-form>
